@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .hoverDn {
        @apply cursor-pointer transition-all duration-300
    }
}





@import "../scss/base/base";

@import "../scss/components/Header/_HeaderMenu.scss";
@import "../scss/components/Header/_HeaderPage.scss";
@import "./components/HeaderSearch/_HeaderSearch.scss";
@import "./pages/calendar";

